body{
    text-align: center
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0;
    
}
div,section{
    width: 180%;
    height: 30px;
    margin: 500px;
    flex: 1;
    margin-top:10px 0 10px 10px;
    max-width: 400px;
    min-width: 200px;
}

img {
    width:100%;
}
    